body {
	padding:0px;
	margin:0px;
}

#header{
	height:32px;
}

#app-frame{
}

.view {
	width: 100%;
	height: 100%;
}


#app-frame .view {
	display:none;
}

#app-frame .visible{
	display:block;
}

#map-container{
	width:100%;
	height:100px;
	overflow:hidden;
}